<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色列表</title>

    <link rel="stylesheet" href="../../../static/libs/layui/css/layui.css" th:href="@{/libs/layui/css/layui.css}">
    <link rel="stylesheet" href="../../../static/css/global.css" th:href="@{/css/global.css}">
</head>
<body>

<div class="layui-row">
    <div class="layui-col-sm12">
        <form id="searchForm">
            <div class="bearcat2-input">
                <span>角色名：</span>
                <div class="layui-input-inline">
                    <input class="layui-input" name="srName">
                </div>
            </div>
        </form>

        <div class="bearcat2-input">
            <button class="layui-btn" id="search">搜索</button>
            <button class="layui-btn layui-btn-danger" id="clear">清空</button>
            <button class="layui-btn" id="add">新增</button>
        </div>
    </div>
</div>

<table id="dataTable" lay-filter="dataTableFilter"></table>

<div>
    <!--定义页面层所需的一些配置，比如title，width,height等,如果宽高未设置默认为auto.-->
    <input type="hidden" id="addConfig" data-title="新增角色" data-width="420" data-height="295">
    <input type="hidden" id="editConfig" data-title="编辑角色" data-width="420" data-height="295">
</div>

<script type="text/html" id="toolBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="allotPrivilege">分配权限</a>
</script>

<script src="../../../static/libs/layui/layui.js" th:src="@{/libs/layui/layui.js}"></script>
<script src="../../../static/js/global.js" th:src="@{/js/global.js}"></script>
<script src="../../../static/js/system/role/list.js" th:src="@{/js/system/role/list.js}"></script>

</body>
</html>