<form class="layui-form" id="layui-form-page" th:object="${operate}">
    <input type="hidden" name="soId" th:value="*{soId}">

    <div class="layui-form-item">
        <label class="layui-form-label">操作名称</label>
        <div class="layui-input-block">
            <input type="text" name="soName" th:value="*{soName}" placeholder="请输入操作名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">显示名称</label>
        <div class="layui-input-block">
            <input type="text" name="soShowName" th:value="*{soShowName}" placeholder="请输入显示名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">序号</label>
        <div class="layui-input-block">
            <input type="text" name="soOrderd" th:value="*{soOrderd}" placeholder="请输入序号" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>