<form class="layui-form" id="layui-form-page" th:object="${sysUser}">
    <div class="layui-form-item">
        <label class="layui-form-label">登录名</label>
        <div class="layui-input-block">
            <input type="text" name="suLoginName" th:value="*{suLoginName}" class="layui-input" readonly>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input type="text" name="suRealName" th:value="*{suRealName}" class="layui-input" readonly>
        </div>
    </div>
</form>