<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>

    <link rel="stylesheet" href="../../../static/libs/layui/css/layui.css" th:href="@{/libs/layui/css/layui.css}">
</head>
<body>

<div class="layui-row">
    <div class="layui-col-sm12 layui-col-md12 layui-col-lg12 layui-inline">
        <form class="layui-form " id="searchForm">
            <div class="layui-inline">
                登录名：
                <div class="layui-input-inline">
                    <input class="layui-input" name="suLoginName">
                </div>

                <div class="layui-input-inline" style="margin-left: 20px;">
                    <button class="layui-btn" type="button" id="search">搜索</button>
                    <button class="layui-btn layui-btn-danger" type="button" id="clear">清空</button>
                    <button class="layui-btn" type="button" id="add">新增</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table id="dataTable" lay-filter="dataTableFilter"></table>

<div>
    <!--定义页面层所需的一些配置，比如title，width,height等,如果宽高未设置默认为auto.-->
    <input type="hidden" id="addConfig" data-title="新增用户" data-width="420" data-height="390">
    <input type="hidden" id="editConfig" data-title="编辑用户" data-width="420" data-height="290">
    <input type="hidden" id="detailConfig" data-title="查看用户详情" data-width="420" data-height="200">
</div>

<script type="text/html" id="toolBar">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="../../../static/libs/layui/layui.js" th:src="@{/libs/layui/layui.js}"></script>
<script src="../../../static/js/global.js" th:src="@{/js/global.js}"></script>
<script src="../../../static/js/system/user/list.js" th:src="@{/js/system/user/list.js}"></script>

</body>
</html>